<?xml version="1.0"?>
  <configuration>
    <configSections>
      <section name="DatabaseSouces" type="System.Configuration.AppSettingsSection"/>
      <section name="databasePools" type="IoCPattern_ex.DatabasePoolsSection, IoCPattern_ex"/>
    </configSections>

    <DatabaseSouces>
      <add key="database" value="IoCPattern_ex.clsSQLServer,IoCPattern_ex"/>
      <!--<add key="database" value="IoCPattern_ex.clsOracle,IoCPattern_ex"/>-->
    </DatabaseSouces>
    <databasePools>
      <databasePool name="SQLServer"
                  type="IoCPattern_ex.clsSQLServer,IoCPattern_ex"
                  maxpoolcount="50"/>
      <databasePool name="Oracle"
                  type="IoCPattern_ex.clsOracle,IoCPattern_ex"
                  maxpoolcount="100"/>
    </databasePools>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>