<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MySettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MySettings.Settings1.sqlConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=master;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <MySettings.Properties.Settings>
            <setting name="Company" serializeAs="String">
                <value>博碩文化集團</value>
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value>台北縣汐止市新台五路一段112號10樓A棟</value>
            </setting>
            <setting name="CompanyTel" serializeAs="String">
                <value>(02)-2696-2869</value>
            </setting>
            <setting name="CompanyCopyrights" serializeAs="String">
                <value>Copyright(c) 2014~2016 by Ching-Jung Hsu. All Rights Reserved.</value>
            </setting>
        </MySettings.Properties.Settings>
    </userSettings>
</configuration>